.react-select__menu {
  width: 100%;
  z-index: 9999;
}

.react-select__menu--styled {
  background-color: var(--rs-neutral0);
  border-radius: var(--rs-border-radius);
  box-shadow:
    0 0 0 1px hsl(0deg 0% 0% / 10%),
    0 4px 11px hsl(0deg 0% 0% / 10%);
}

.react-select__menu-list {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.react-select__menu-list--styled {
  padding-bottom: var(--rs-base-unit);
  padding-top: var(--rs-base-unit);
}

.react-select__no-options-message,
.react-select__loading-message {
  text-align: center;
}

.react-select__no-options-message--styled,
.react-select__loading-message--styled {
  color: var(--rs-neutral40);
  padding: calc(var(--rs-base-unit) * 2) calc(var(--rs-base-unit) * 3);
}

.react-select__menu-portal {
  z-index: var(--rs-menu-z-index);
}
