.react-select__cross-icon,
.react-select__down-chevron {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}

.react-select__clear-indicator,
.react-select__dropdown-indicator {
  display: flex;
  transition: color 150ms;
}

.react-select__clear-indicator--styled,
.react-select__dropdown-indicator--styled {
  padding: calc(var(--rs-base-unit) * 2);
  color: var(--rs-neutral20);
  cursor: pointer;

  &:hover {
    color: var(--rs-neutral40);
  }

  &[data-is-focused='true'] {
    color: var(--rs-neutral60);

    &:hover {
      color: var(--rs-neutral80);
    }
  }
}

.react-select__indicator-separator {
  align-self: stretch;
  width: 1px;
}

.react-select__indicator-separator--styled {
  margin-bottom: calc(var(--rs-base-unit) * 2);
  margin-top: calc(var(--rs-base-unit) * 2);
  background-color: var(--rs-neutral20);

  &[data-is-disabled='true'] {
    color: var(--rs-neutral10);
  }
}

.react-select__loading-dot {
  animation: loading-dot 1s ease-in-out var(--rs-loading-dot-delay, 0ms)
    infinite;
  background-color: currentcolor;
  border-radius: 1em;
  display: inline-block;
  height: 1em;
  vertical-align: top;
  width: 1em;

  &[data-offset] {
    margin-left: 1em;
  }
}

@keyframes loading-dot {
  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.react-select__loading-indicator {
  display: flex;
  transition: color 150ms;
  align-self: center;
  font-size: var(--rs-loading-indicator-size);
  line-height: 1;
  margin-right: var(--rs-loading-indicator-size);
  text-align: center;
  vertical-align: middle;
}

.react-select__loading-indicator--styled {
  padding: calc(var(--rs-base-unit) * 2);
  color: var(--rs-neutral20);

  &[data-is-focused='true'] {
    color: var(--rs-neutral60);
  }
}
