.react-select__option {
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: inherit;
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.react-select__option--styled {
  background-color: transparent;
  color: var(--rs-neutral90);
  padding: calc(var(--rs-base-unit) * 2) calc(var(--rs-base-unit) * 3);

  &[data-is-focused='true'] {
    background-color: var(--rs-primary25);

    &[data-is-disabled='true'] {
      background-color: var(--rs-neutral10);
      color: var(--rs-neutral60);
      cursor: not-allowed;
    }
  }

  &[data-is-disabled='true'] {
    color: var(--rs-neutral40);
  }

  &:active:not([data-is-disabled='true']) {
    background-color: var(--rs-primary50);
  }
}
