@property --x {
  syntax: '<percentage>'; /* <- defined as type number for the transition to work */
  initial-value: -100%;
  inherits: false;
}

:root {
  --radial-gradient-background: 250, 250, 250;
  --solid-color-background: 15, 15, 15;
  --overlay-color: 255, 255, 255;
  --x: -100%;
}

.shiny-dark-select .react-select__menu-list--styled {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.1) 0%,
      transparent 60%
    ),
    rgba(var(--solid-color-background), 1);
  border-bottom-left-radius: var(--rs-border-radius);
  border-bottom-right-radius: var(--rs-border-radius);
}

.shiny-dark-select .react-select__menu--styled {
  box-shadow: 0 0 0 4px var(--rs-primary);
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: var(--rs-border-radius);
  border-bottom-right-radius: var(--rs-border-radius);
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.1) 0%,
      transparent 60%
    ),
    rgba(var(--solid-color-background), 1);

  &:hover {
    border-color: var(--rs-neutral30);
    box-shadow: 0 0 0 1px var(--rs-neutral30);
  }

  &[data-is-focused='true'] {
    box-shadow: 0 0 0 4px var(--rs-primary);
  }
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );

  animation: shiny infinite 2s ease-in-out;
  animation-delay: 1s;
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  animation: shiny infinite 2s ease-in-out;
  animation-delay: 1s;
  user-select: none;
  pointer-events: none;
}

@keyframes shiny {
  0% {
    --x: 100%;
  }
  100% {
    --x: -100%;
  }
}

.shiny-dark-select {
  --rs-primary: #4338ca;
  --rs-primary25: #4f46e5;
  --rs-primary50: #818cf8;
  --rs-primary75: #a5b4fc;
  --rs-danger: #e11d48;
  --rs-danger-light: #fda4af;
  --rs-neutral90: #f8fafc;
  --rs-neutral80: #f1f5f9;
  --rs-neutral60: #e2e8f0;
  --rs-neutral50: #cbd5e1;
  --rs-neutral40: #94a3b8;
  --rs-neutral30: #64748b;
  --rs-neutral20: #475569;
  --rs-neutral10: #334155;
  --rs-neutral5: #1e293b;
  --rs-neutral0: #000;
  --rs-base-unit: 8px;
  --rs-control-height: 64px;
}
